[submodule "submodules/screenfetch"]
	path = submodules/screenfetch
	url = https://github.com/KittyKatt/screenFetch
[submodule "submodules/vimrc"]
	path = submodules/vimrc
	url = git@github.com:quasarj/vimrc
	branch = linux
[submodule "submodules/dex"]
	path = submodules/dex
	url = https://github.com/jceb/dex
[submodule "submodules/QFlex.theme"]
	path = submodules/QFlex.theme
	url = git@github.com:quasarj/QFlex
[submodule "submodules/powerline-fonts"]
	path = submodules/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/Lokaltog/powerline
[submodule "submodules/vicious"]
	path = submodules/vicious
	url = http://git.sysphere.org/vicious
